body{
   
   background-color: rgb(109, 106, 106); 
   align-items: center;
   justify-content: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
   background-color: black;
   color: rgb(240, 248, 255);
   padding-left: 7%;
   padding-top: 5%;
   padding-bottom: 5%;
   margin-top: -8px;
   margin-left: -5px;
   margin-right: -7px;
}

footer{
   
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: black;
   color: aliceblue;
   padding: 2%;
   margin-left: -5px;
   margin-right: -7px;
   margin-bottom: -8px;

}

.left{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.right{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
   

}

#img-div{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   
}
#img-caption{
      margin: 3%;
      font-weight: bolder; 
}

#headline{
font-weight: bold;
}

#tribute-info{
   margin-top: 4%;
   margin-left: -5px;
   margin-right: -7px;
   margin-bottom: 1px;
   display: flex;
   flex-direction: column;
   background-color: black;
   color: azure;
   padding: 5%;
}